<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Interests</title>
</head>
<body>
<div class="container mt-5">
    <h1>Interests</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Current Interests</h2>
            <ul class="list-group">
                <li class="list-group-item" th:each="interest : ${interests}">
                    <span th:text="${interest.interest}"></span>
                    <form th:action="@{/interests/delete}" method="post" class="float-right">
                        <input type="hidden" name="interest" th:value="${interest.name()}"/>
                        <button type="submit" class="btn btn-danger btn-sm ml-1">Delete</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Create Interest</h2>
            <form th:action="@{/interests/create}" method="post">
                <div class="form-group">
                    <label for="interest">New Interest:</label>
                    <input type="text" class="form-control" id="interest" name="interest" required>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-6">
            <div th:if="${message}" class="alert alert-success" role="alert">
                <span th:text="${message}"></span>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRS" crossorigin="anonymous"></script>
</body>
</html>
